#back-btn , #restart{
    width: 10rem;
    color: #fff;
    background: #ff0606;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: .9rem;
    text-decoration: none;
    border-radius: 1rem;
    border: none;
    padding: .2rem 1rem;
    margin: auto;
}

#restart {
    background:  #0bfc03;
}

