.App {
  background: #fff;
  box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
  min-height: 500px;
  max-width: 600px;
  padding: 2rem;
  margin: 1rem auto;
}

footer p {
  margin: .5rem;
}

.social-media {
  padding: 1rem;
}

.social-media a {
  text-decoration: none;
  color: #0B4FD9;
  padding: .2rem;
}

@media screen and (max-width : 600px) {
  .App {
    margin: 1rem;
  }
}